@import "../pages/media-querys.scss";

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    height: auto;
  }
  &__padding {
    padding: 1.2rem 2rem 1.2rem 2rem;
    height: 100%;
  }
  &__title {
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 3px;
    font-weight: 500;
    @include tablet {
      text-align: center;
    }
  }
  &__container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      display: none;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        color: #767884;
        font-weight: 500;
        margin-bottom: 2.5rem;
        display: flex;

        &__img {
          margin-right: 15px;
        }
        &__a {
          text-decoration: none;
          color: #767884;
          font-weight: 500;
          margin: 0;
          outline: none;
          &.selected {
            color: #feb100;
          }
        }
      }
    }
    &__user {
      display: flex;
      align-items: center;
      background: var(--user-background);
      color: white;
      padding: 1.25rem;
      justify-content: space-between;
      @include tablet {
        display: none;
      }
      &__content {
        display: flex;
        align-items: center;
      }
      &__img {
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
      &__name {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 500;
      }
      &__view {
        margin: 0;
        font-size: 0.7rem;
        color: #a7a7a7;
      }
      &__up {
        width: 23px;
        cursor: pointer;
      }
      &__svg {
        width: 25px;
        stroke: var(--text-color-search);
        height: 100%;
        cursor: pointer;
      }
      &__modal {
      }
    }
  }
}
